terraform {
  backend "s3" {
    bucket       = "replace-me-taskapi-terraform-state"
    key          = "taskapi/observability/terraform.tfstate"
    region       = "us-east-1"
    encrypt      = true
    use_lockfile = true
  }
}
